In [1]:
d=lambda x:x/2
d(6)

3.0

In [2]:
result=lambda x,y,z:x+y+z
result(3,6,9)

18

In [24]:
d=lambda *a:list(a)
print(d(3,4,5))
type(d)

[3, 4, 5]

function

In [1]:
sci_poda=["rohit da","hiritik sa","harish sonngi","shastee ngotha","gomtha"]
sci_poda.sort(key=lambda name:name.split(" ")[-1].lower())
sci_poda

['rohit da', 'gomtha', 'shastee ngotha', 'hiritik sa', 'harish sonngi']

In [2]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [1]:

def fun(n):

    
    tables=[lambda x=x: x*n for x in range(1,11)]
    for table in tables:
        print(table())
f=float(input("Enter the number"))   
fun(f)

4.0
8.0
12.0
16.0
20.0
24.0
28.0
32.0
36.0
40.0